[Unit]
Description=Shipping Printer Client.  Waits for MQTT, then prints from mqtt
After=multi-user.target
Requires=network-online.target
After=network-online.target
Requires=cups.service
After=cups.service
#Conflicts=getty@tty1.service

[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi/mqtt-printer-client
ExecStartPre=/bin/bash -c 'until host google.com; do sleep 1; done'
ExecStart=/usr/bin/python3 -u /home/pi/mqtt-printer-client/printer_client.py
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target
